/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*
 * General
 */
html,
button,
input,
select,
textarea {
    color: #222;
}

body{
	max-width:1180px;
	min-width: 810px;
	background: #060606 ;
	font-size: 1em;
    line-height: 1.4;
}

header{
	margin-top:0px;
	height: 700px;
	background-image: url('../img/tea2.png');
	background-repeat: no-repeat;
}

/*
 * Text
 */
body{
	color: #999999;
}

h1{
	font-size: 45px;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: italic;
	color: #999999;
	text-shadow: 1px 1px 1px #0066CC;
}

h2{
	font-size: 30px;
	color:#333333;
	text-shadow: 1px 1px 1px #0066CC;
}


 a, h2, h3, h4, h5{
	font-family: 'Ubuntu', sans-serif;
	color: #999999;
}

h4{
	font-size:18px;
}

a:visited{
	color:inherit;
}

ul{
	list-style: none;
    list-style-image: none;
    font-size:18px;
}


ul li{
	margin-left: -25px;
}

/*
 * Top banner
 */
#banner{
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(35,35,35,0) 26%, rgba(73,73,73,0.8) 55%, rgba(73,73,73,1) 99%, rgba(73,73,73,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(26%,rgba(35,35,35,0)), color-stop(55%,rgba(73,73,73,0.8)), color-stop(99%,rgba(73,73,73,1)), color-stop(100%,rgba(73,73,73,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(35,35,35,0) 26%,rgba(73,73,73,0.8) 55%,rgba(73,73,73,1) 99%,rgba(73,73,73,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(35,35,35,0) 26%,rgba(73,73,73,0.8) 55%,rgba(73,73,73,1) 99%,rgba(73,73,73,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(35,35,35,0) 26%,rgba(73,73,73,0.8) 55%,rgba(73,73,73,1) 99%,rgba(73,73,73,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(35,35,35,0) 26%,rgba(73,73,73,0.8) 55%,rgba(73,73,73,1) 99%,rgba(73,73,73,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#494949',GradientType=1 ); /* IE6-9 */
    -moz-border-radius: 0px 0px 6px 0px;
    -webkit-border-radius: 0px 0px 6px 0px;
    -khtml-border-radius: 0px 0px 6px 0px;
    border-radius: 0px 0px 6px 0px;
}

#banner h1{
	font-size: 32px;
	margin-left: 64px;
	display: inline;
}

#banner nav{
	display: inline;
	padding-left: 70px;
}

#banner a{
	padding-left: 4.1%;
	padding-right: 4.1%;
	line-height: 0px;
	font-size: 18px;
	text-decoration:none;
}

#toggler-side_blocks{
	color:#999999;
	text-shadow: 1px 1px #339933;
}

#toggler-side_blocks:hover{
	color:#339933;
	text-shadow: 1px 1px #999999;
}

#toggler-person{
	color:#999999;
	text-shadow: 1px 1px #CC66CC; /*9900CC-Bright pink/purple */
}

#toggler-person:hover{
	color:#CC66CC;
	text-shadow: 1px 1px #999999;
}

#banner a[href^="http"]{
	margin-left: 10px;
	padding-left: 25px;
	padding-right: 5px;
	text-shadow: 1px -1px #333333;
	color:#666666;
	text-decoration:none;
}

#banner a[href^="http"]:hover{
	color:#66CC66;
	text-shadow: 2px -2px #333333;
	background-image: url('../img/twitter.png');
	background-repeat: no-repeat;
	background-position: left center;
}

/*
 *  Quote
 */
#quote {
	margin: 168px 0px 0px 12px;
	width: 140px;
	float:left;
}

#quote p{
	text-align:center;
	font-family: 'Merienda One', cursive;
	font-size: 20px;
}

/*
 * Design Side Blocks
 */

#design_content .slider{
	/*-moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -khtml-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
	background: rgba(25,25,25,.5);*/
}

#side_blocks{
	float:right;
	margin-right:5px;
	margin-top: 30px;
}

#side_blocks h5{
	-moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -khtml-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    padding: 0px 3px 30px 3px;
    text-align: center;

}


#side_blocks .sliderExpanded{
	text-shadow: 2px 1px #666666 ;
}

.toggler, .closeSlider, .closeSlider_person{
	cursor:pointer;
}

#toggler-logos{

	text-shadow: 1px 1px #FF6600 ;
	
}

#toggler-logos.sliderExpanded{
	background: url('../img/BRlogo.svg') no-repeat bottom center;
}

#toggler-print{
	text-shadow: 1px 1px #663300 ;	
}

#toggler-print.sliderExpanded{
	background: url('../img/ink.svg') no-repeat bottom center;
}

#toggler-digital{
	text-shadow: 1px 1px #006633 ;
}

#toggler-digital.sliderExpanded{
	background: url('../img/digital.svg') no-repeat bottom center;
}

#toggler-database{
	text-shadow: 1px 1px #FF33CC ;
}

#toggler-database.sliderExpanded{
	background: url('../img/database.svg') no-repeat bottom center;
}

#toggler-events{
	text-shadow: 1px 1px #3366FF ;
}

#toggler-events.sliderExpanded{
	background: url('../img/events.svg') no-repeat bottom center;
}

#toggler-projects{
	text-shadow: 1px 1px #3300CC ;
}

#toggler-projects.sliderExpanded{
	background: url('../img/projects.svg') no-repeat bottom center;
}

/*
 * Design content main area
 */

#design_content{
	float:left;
	margin-left:18%;
	margin-top:35px;
	width:50%;
}


/*
 * Personal 
 */

#person{
	margin: 0px 0px 12px 12px;
	-moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -khtml-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    padding-left: 15px;
	


}

#person h2{
	background: -moz-linear-gradient(left,  rgba(103,83,68,0) 0%, rgba(72,62,59,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(103,83,68,0)), color-stop(100%,rgba(72,62,59,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(103,83,68,0) 0%,rgba(72,62,59,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(103,83,68,0) 0%,rgba(72,62,59,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(103,83,68,0) 0%,rgba(72,62,59,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(103,83,68,0) 0%,rgba(72,62,59,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00675344', endColorstr='#483e3b',GradientType=1 ); /* IE6-9 */
-moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -khtml-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    text-align:right;
    padding-right: 15px;
}
#toggler-sports{
	text-shadow: 1px 1px #FF6600 ;
}

#toggler-sports.sliderExpanded{
	text-shadow: 1px 1px 3px #FF6600 ;
}

#toggler-education{
	text-shadow: 1px 1px #663300
}

#toggler-education.sliderExpanded{
	text-shadow: 1px 1px 3px #663300
}

#toggler-learning{
	text-shadow: 1px 1px #006633 ;
}

#toggler-learning.sliderExpanded{
	text-shadow: 1px 1px 3px #006633 ;
}

#toggler-cooking{
	text-shadow: 1px 1px #FF33CC ;
}

#toggler-cooking.sliderExpanded{
	text-shadow: 1px 1px 3px #FF33CC ;
}

#toggler-reading{
	text-shadow: 1px 1px #3366FF ;
}

#toggler-reading.sliderExpanded{
	text-shadow: 1px 1px 3px #3366FF ;
}

#toggler-technology{
	text-shadow: 1px 1px #3300CC ;
}

#toggler-technology.sliderExpanded{
	text-shadow: 1px 1px 3px #3300CC ;
}

.about_block{
	padding: 15px;
}


#about_menu{
	float:left;
}

#about_content{
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	color: #999999;
}

#sports{
	padding-top: 5px;
}

.slider_text{
	margin-right:195px;
	margin-left: 130px;
}

.slider aside{
	width:190px;
	float:right;
	clear:right;
	-moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -khtml-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    padding:5px;
    border-left:#666666;
	border-style: inset;
	font-family: 'Ubuntu', sans-serif;
}

.slider ul{
	margin-top:0px;
	color:#999999;
	text-shadow: 1px 1px 3px #333333;
	font-size:16px;
}

.slider p{
	margin-bottom: 0px;
}

#sports aside{
	text-shadow: 1px 1px 1px #FF6600;
}

#sports .closeSlider_person{
	box-shadow:-1px 0px 0px #FF6600;
} 

#education .closeSlider_person{
	box-shadow:-1px 0px 0px #663300;
}

#learning .closeSlider_person{
	box-shadow:-1px 0px 0px #006633;
}

#cooking .closeSlider_person{
	box-shadow:-1px 0px 0px #FF33CC;
}

#reading .closeSlider_person{
	box-shadow:-1px 0px 0px #3366FF;
}

#technology .closeSlider_person{
	box-shadow:-1px 0px 0px #3300CC;
}







/*
 * Styles for JQuery Sliding
 */
.closeSlider_person{
	margin-left:3px;
}

.slider{
	display:none;
}
.collapseSlider{
	display:none;
}
.sliderExpanded .collapseSlider{
	display:block;
	background: #060606;
}

/* Uncomment this to hide the slider when content is expanded
.sliderExpanded .expandSlider{
	display:none;
}
*/

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}




/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
